

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html, body {
    width: 100%;
    height: 100vh;
    scroll-behavior: auto;
    background-color: #000000;
    color: white;
}
.body {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.section_nav {
    position: fixed;
    bottom: 0;
    right: 3vw;
    top: 0;
    z-index: 10;
}
.section_nav a {
    display: block;
    color: #355f66;
}
.section_nav ul{
    list-style-type: none;
    letter-spacing: 1px;
    margin-right: 0;
    padding-right: 20px;
    text-align:right;
    list-style-position: inside;
    padding-top: 40vh;
}
.section_nav li{
    position: relative;
    padding-top: 1em;
}
.page {
    position: relative;
    display:block;
    width: 100%;
    height: 100vh;
}


/*-----------------------------------------------------------*/


.loadpage video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    opacity: 0.3;
    z-index: 1;
}

.page .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 10, 22, 0.8);
    background-blend-mode:overlay;
    opacity: .75;
    z-index: 2;
}


.headline {
    display:flex;
    text-align: start;
    flex-flow: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 5%;
}
.headline h2{
    font-size: 5em;
    line-height: 1em;
    margin-top: 10%;
    font-weight: 300;
}
.headline .p1{
    font-size: 1em;
    font-weight: 300;
    max-width: 50%;
    color:rgba(196, 243, 255, 0.70);
}
h2 .ship { font-weight:700;}

.headline .p2 {
    position: relative;
    font-size: calc(0.10px + 1.2vw);
    margin-top: 5em;
    color: #ffff;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em #1da9cc;
    filter: blur(0.09em);
    animation: shake 2.5s infinite reverse;
}
@keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.018em);
        transform: translateY(0.018em) rotate(0deg);}
    10%, 30%, 40%, 50%, 70%, 80%, 90% {
        filter: blur(0.01em);
        transform: translateY(-0.018em) rotate(0deg);}
    20%, 60% {
        filter: blur(0.03em);
        transform: translate(-0.018em, 0.018em) rotate(0deg);}
    45%, 85% {
        filter: blur(0.03em);
        transform: translate(0.018em, -0.018em) rotate(0deg);}
    100% {
        filter: blur(0.007em);
        transform: translate(0) rotate(-0.5deg);}
}



/*-----------------------------------------------------------*/


.virus .p1 {
    bottom: 0;
    display: block;
    padding: 5%;
    padding-bottom: 10%;
    width: 80%;
    position: absolute;
}
#text {
    font-family: 'Anonymous Pro', monospace;
    color: rgba(255,255,255,.75);
    word-spacing: 1px;
}



.intro {
    text-align:justify;
    position: absolute;
    padding: 5%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.content .map{
    object-fit:cover;
    padding-right: 10%;
}

.worldmap{
    stroke-linecap:round;
    stroke-linejoin:"round";
    stroke-width:".5";
    stroke: #203538;
    width: 100%;
    height: 100%;
}

/*-------------------------- TABLE ---------------------------*/

#heatmap{
    display:block;
    z-index: 2;
    width: 100%;
    height: 100vh;
    padding-left: 5%;
}


/*--------------------------- TREEMAP --------------------------*/

#treemap{
    display:block;
    z-index: 3;
    width: 100%;
    height: 100vh;
    padding-top: 5%;
    background-color:white;
}

#treecanvas {
    width: 100%;
    height: 100%;
}



/*--------------------------- PORT --------------------------*/


.Port {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    z-index: 1;
}

.Port video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    display: block
}

.Port header {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5%;
    padding-right: 20%;
    z-index: 2;
}

.row {
    display: flex;
    position: absolute;
    height: 100%;
    width:100%;
    z-index: 3;
}
#a1 {width: 25%; background-color:black;}
#a2 {width: 25%; background-color:black;}
#a3 {width: 25%; background-color:black;}
#a4 {width: 25%; background-color:black;}

/*-----------------------------------------------------------*/

.consumption{
    width: 100%;
    height: 100vh;
    background-color: #355f66;
}



