<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>I Ship You Not!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,800;0,900;1,100&family=Syne:wght@400;600&display=swap" rel="stylesheet">
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>

</head>

<body>
        <section id="#section0"  class="page">
                <div class="content loadpage">
                <span class="overlay"></span>

                <div class="headline">
                    <h2>I <span class='ship'>SHIP</span> You Not!</h2>
                    <p class="p1">The pandemic has disrupted trade to an extraordinary degree, driving up the cost of shipping goods and adding a fresh challenge to the global economic recovery. </p>
                    <p class="p2">At the center of the storm is the shipping container, the workhorse of globalization.</p>
                </div>
            </div>
        </section>

        <section id="spacer" class="page empty"><div class="spacer"></div></section>

        <section id="#section1" class="page">
            <div class="content intro">
                <div  class="virus">
                    <div class="output">
                        <p class="p1"><span id="text"></span><span id="cursor">|</span></p>
                    </div>
                </div>
                <div class="map">
                    <svg id="worldmap"></svg><path></path>
                </div>
            </div>
        </section>

        <section id="spacer" class="page empty"><div class="spacer"></div></section>

        <section id="#section2" class="page">
            <div id="treemap", class="content treechart">
                <div class="tree-wrapper">
                <svg id='treecanvas'></svg>
                </div>
            </div>
        </section>

        <section id="spacer" class="page empty"><div class="spacer"></div></section>

        <section id="#section3" class="page">
            <div class="content Port">
                <div class="row justify-content-around">
                    <div id="a1" class="column-3"></div>
                    <div id="a2" class="column-3"></div>
                    <div id="a3" class="column-3"></div>
                    <div id="a4" class="column-3"></div>
                    <div id="a5" class="column-3"></div>
                </div>
                <video muted loop autoplay> <source src="/static/videos/mixkit-cargo-ship-port-seen-from-above-36264-medium.mp4"></video>
                <h1 class="port">Los Angeles Port </h1>
                <p1>
                    The port has been struggling to keep up with demand since February, when it was unable to accommodate all the arriving ships and many of them were forced to anchor before unloading. But the situation is improving. The number of ships that were sent straight to holding has dropped from 90% in February to 65% in April.<br>
                     The average time a container sits at the port terminal before being shipped by rail or truck is also decreasing, from an average of five days in February to 4.2 in April.<br>
                     One issue driving the congestion is an imbalance of imports to exports, Seroka said. Exports have dropped 27 out of the last 30 months at the Port of LA, with the import to export ratio last month being “the highest gap we’ve seen,” he added. In April it was 4.3 to 1, compared with 4 to 1 in March.<br></p1>

                <h5><span>The scramble for empty containers continues.</span> <br><span> There are plenty of containers. They’re just not in the right location.</span></h5>
                </p>
            </div>
        </section>

        <section id="spacer" class="page empty"><div class="spacer"></div></section>

        <section id="#section4" class="page">
            <div id="chart" class="content chart">
                <div class="bubble-wrapper">
                <svg id='bubblecanvas'></svg>
                </div>
            </div>
        </section>

        <section id="spacer" class="page empty"><div class="spacer"></div></section>

        <section id="#section5" class="page">
            <div class="content consumption">
                <header>
                    <h1>end</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, architecto aliquid ea, quaerat in accusamus cum amet sit eaque eius commodi ab voluptatibus, magnam nihil voluptas iure atque velit autem.</p>
                </header>
            </div>
        </section>

        <div class="section_nav">
            <ul>
            <li><a class="active" href="#section0">Intro</a></li>
            <li><a href="#section1">Covid</a></li>
            <li><a href="#section2">TreeMap</a></li>
            <li><a href="#section3">Port Congestion</a></li>
            <li><a href="#section4">Bubbly</a></li>
            <li><a href="#section5">US Consumption</a></li>
            </ul>
        </div>
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <script src="https://d3js.org/d3-color.v2.min.js"></script>
        <script src="https://d3js.org/d3-interpolate.v2.min.js"></script>
        <script src="https://d3js.org/d3-scale-chromatic.v2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/TextPlugin.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollToPlugin.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.js"></script>
    <script type='text/javascript' src='/static/js/script.js'></script>
    <script type='text/javascript' src='/static/js/d3script.js'></script>
</body>

</html>